/* Специфичные настройки для страницы входа */
.auth-title-login {
    /* можно что-то переопределить при желании */
}

.auth-subtitle-login {
    /* оставим пустым, но файл есть, чтобы выполнить требование
       "отдельный файл для отдельной страницы" */
}
